{% extends 'staff/base_staff.html' %}
{% block content %}
<body id="bo1">
    <div class="container-fluid" style="margin-top:15px;">
        <h1 style="text-align: center;">STUDENTS DETAILS</h1><br>
        <div class="container">
            <table class="table table-stribed table-secondary">
            <thead>
                <tr class="table-danger" style="height: 75px;">
                    <th >Student Name</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Joining Date</th>
                    <th>Course</th>
                    <th>Course Fee</th>
                    <th>Contact number</th>
                </tr>
            </thead>
            <tbody>
                {% for i in std1 %}
                <tr>
                    <td>{{ i.student_name }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.joining_date }}</td>
                    <td>{{ i.course.course_name }}</td>
                    <td>{{ i.course.fee }}</td>
                    <td>{{ i.phone_number }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}